{% extends 'student_template/base_template.html' %}
{% block page_title %}
Details Schedule
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">


           <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"> Details Schedule</h3>

                <div class="card-tools" >
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-left" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="direction: rtl;">
                <table class="table table-hover text-nowrap" style="direction: rtl;">
                  <thead>
                    <tr>
                      <th> Id </th>
                      <th> Day </th>
                      <th> Time from </th>
                      <th> To </th>
                      <th> Course </th>
                      <th> Staff </th>
                      <th> Hall </th>
                      <th> Subject </th>
                      <th> Action </th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for schedule in schedules %}
                    <tr>
                      <td>{{ schedule.id}}</td>
                      <td>{{ schedule.days }}</td>
                      <td>{{ schedule.timee }}</td>
                      <td>{{ schedule.timeeend }}</td>
                      <td>{{ schedule.course_id.course_name }}</td>
                      <td>{{ schedule.staff_id.first_name }} {{ schedule.staff_id.last_name }}</td>
                      <td>{{ schedule.hall_id.name }}</td>
                      <td>{{ schedule.subject_id.subject_name }}</td>
                     <!--<td><a href="/edit_schedules/{{ schedule.id }}" class="btn btn-success">تعديل</a></td> --> 
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
