{% extends 'hod_template/base_template.html' %}
{% block page_title %}
Edit Hall  | Username : {{ hall.name }} |  #ID : {{ hall.id }}
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Hall</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/edit_hall_save" method="post">
                  {% csrf_token %}
                  <div class="card-body"  >
                    <div class="form-group"">
                        <label >  Hall Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter Hall name "  autocomplete="off"  value="{{ hall.name }}">
                  </div>
                 
                    <div class="form-group" >
                    <label> capacity </label>
                    <input type="text" class="form-control" placeholder="Enter capacity " name="capacity" value="{{ hall.capacity }}">
                    <input type="hidden"  name="hall_id" value="{{ hall.id }}">
                  </div>
                  <div class="form-group" >
                    <label> Is there a projector available in the hall?</label>
                    <br>
                    <label for="projector_yes">Yes</label>
                    <input type="radio" id="projector_yes" name="projector_available" value="True" required>
                    <br>
                    <label for="projector_no">No</label>
                    <input type="radio" id="projector_no" name="projector_available" value="False" required>

                  </div>
                      <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Save Hall</button>
                </div>
              </form>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
